<a href="https://colab.research.google.com/github/viratbhoomi/DSA/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python Lists are built in data structure in python.
# A list stores ordered collection of items.

shoppingList = ['Milk','Cheese','Butter']
print('Milk' in shoppingList)
print(shoppingList[2])
print(shoppingList[-1])
print(shoppingList[-2])
print(shoppingList[-3])
print("-------------------------------------------------------------")

for i in shoppingList:
  print(i)
print("-------------------------------------------------------------")
for i in range(len(shoppingList)):
  shoppingList[i]=shoppingList[i]+"+"
  print(shoppingList[i])

True
Butter
Butter
Cheese
Milk
-------------------------------------------------------------
Milk
Cheese
Butter
-------------------------------------------------------------
Milk+
Cheese+
Butter+

In [ ]:
l = [1,2,3,4,5,6,7]
print(l)
l[2]=33
print(l)
# time and space complexity is O(1)
l.insert(4,15)  #------------------------O(N)
print(l)                                    # space complexity O(1)
l.append(51)    # -----------------------O(1)
print(l)
l.extend([88,75,95,68])   #--------------O(N)  # space complexity O(N)
print(l)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 33, 4, 5, 6, 7]
[1, 2, 33, 4, 15, 5, 6, 7]
[1, 2, 33, 4, 15, 5, 6, 7, 51]
[1, 2, 33, 4, 15, 5, 6, 7, 51, 88, 75, 95, 68]

In [ ]:
l = ["a","b","c","d","e","f"]
l[0:2] = ["x","y"]
print(l)
l.pop(1)   #--------------O(1)
print(l)
l.pop()    #--------------O(N)
print(l)
del l[2]   #--------------O(N)
print(l)
del l[2:3]  #--------------O(N)
print(l)
l.remove("x")  #--------------O(N)
print(l)

# The space complexity for all these methods is O(N)

['x', 'y', 'c', 'd', 'e', 'f']
['x', 'c', 'd', 'e', 'f']
['x', 'c', 'd', 'e']
['x', 'c', 'e']
['x', 'c']
['c']

In [ ]:
# searching for an element in list
l = [10,20,30,40,50,60,70,80,90]
target = 50
if target in l:
  print(f"{target} is in the list")
else:
  print(f"{target} is in the list")


def linear_search(p_list,p_target):
  for i,value in enumerate(p_list):   #---------------O(N)
    if value == p_target:             #---------------O(1)
      return i                        #---------------O(1)
  return -1                           #---------------O(1)
linear_search(l,target)

# The space complexity is O(1)

50 is in the list

4

In [ ]:
a = [1,2,3]
b = [3,4,5]
c =  a+b
print(c)
print(a*4)

l = [0,1,2,3,4,5,6,7,8,9]
print(len(l))
print(max(l))
print(min(l))
print(sum(l))

[1, 2, 3, 3, 4, 5]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
10
9
0
45

In [ ]:
numbers = []  # Initialize an empty list
while True:
    user_input = input("Enter a number: ")  # Use a different variable name for input
    if user_input == "done":  # If user inputs "done", exit the loop
        break
    value = float(user_input)  # Convert input to float
    numbers.append(value)  # Append the float value to the list
average = sum(numbers) / len(numbers)  # Calculate the average of the numbers in the list
print("average:", average)  # Print the average

Enter a number: 15
Enter a number: 18
Enter a number: 24
Enter a number: 68
Enter a number: 40
Enter a number: 95
Enter a number: done
average: 43.333333333333336

In [ ]:
a = "spam spam spam"
delimiter = " "
b = a.split(delimiter)
print(b)
print(delimiter.join(b))

['spam', 'spam', 'spam']
spam spam spam

In [ ]:
# lists vs arrays
# 1. both data structures are mutable.
# 2. both can be indexed and iterated through
# 3. They can be both sliced.

import numpy as np
arr = np.array([1,2,3,4,5,6,7,8,9])
print(arr/2)
l = [1,2,3,4,5,6,7,8,9]
print(l/2)

[0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [ ]:
# time and space complexity of list
# creating an empty list            O(1)    O(1)
# creating a list with  elements    O(N)    O(N)
# inserting a value in a list       O(N)    O(1)
# traversing a list                 O(N)    O(1)
# accessing a given cell in list    O(1)    O(1)
# searching a given value in list   O(N)    O(1)
# deleting a value from list        O(1)    O(1)

In [ ]:
# list comprehension
l = [4,5,7,8,9,6,5,8,9]
lc  = [i for i in l if i%2==0]
print(lc)

[4, 8, 6, 8]

In [ ]:
# What will be the output of the following code block?

arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6):
    print(arr[i], end = " ")

2 3 4 5 6 6

In [ ]:
# What will be the output of the following code block?

a=[1,2,3,4,5]
print(a[3:0:-1])

Object `block` not found.
[4, 3, 2]

In [ ]:
# What will be the output of the following code snippet?

def f(value, values):
    v = 1
    values[0] = 44
t = 3
v = [1, 2, 3]
f(t, v)
print(t, v[0])

3 44

In [ ]:
# What will be the output of the following code block?

fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'

sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    if ls[0] == 'Guava':
        sum += 1
    if ls[1] == 'Kiwi':
        sum += 20

print(sum)

22

In [ ]:
# What will be the output of the following code block?

data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
def fun(m):
    v = m[0][0]

    for row in m:
        for element in row:
            if v < element: v = element

    return v
print(fun(data[0]))

4

In [ ]:
# What is the correct command to shuffle the following list?

fruit=['apple', 'banana', 'papaya', 'cherry']

# To shuffle a list in Python, you can use the shuffle() function from the random module. Here's the correct command to shuffle the fruit list:

import random
fruit = ['apple', 'banana', 'papaya', 'cherry']
random.shuffle(fruit)
# Now, the fruit list will be shuffled randomly. Note that the shuffle() function shuffles the list in place, meaning it modifies the original list rather than returning a new shuffled list.

In [ ]:
# What will be the output of the following code block?

arr = [[1, 2, 3, 4],
       [4, 5, 6, 7],
       [8, 9, 10, 11],
       [12, 13, 14, 15]]
for i in range(0, 4):
    print(arr[i].pop())

4
7
11
15

In [ ]:
# What will be the output of the following code block?

a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

Object `block` not found.
[1, 3, 5, 7, 9]

In [ ]:
# What will be the output of the following code block?

a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50,60
print(a)

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

In [ ]:
# find the no of days above average temperature?

numDays = int(input("Enter the How Many Day's Temperature? "))
total = 0
temp = []
for i in range(1, numDays+1):
  nextDay = int(input("Day " + str(i) + "'s high temperature: "))
  temp.append(nextDay)
  total += temp[i-1]

avg = round(total/numDays,2)
print("\naverage = "+str(avg))

above = 0
for i in temp:
  if i>avg:
    above += 1
print(str(above) + " day(s) above average")

Enter the How Many Day's Temperature? 4
Day 1's high temperature: 20
Day 2's high temperature: 21
Day 3's high temperature: 50
Day 4's high temperature: 0

average = 22.75
1 day(s) above average

In [ ]:
# Missing Number
# Write a function to find the missing number in a given integer array of 1 to 100.
# The function takes to parameter the array and the number of elements that needs to be in array.
# For example if we want to find missing number from 1 to 6 the second parameter will be 6.
# Example
# missing_number([1, 2, 3, 4, 6], 6) # 5

def missing_number(arr, n):
    # Calculate the sum of the expected sequence from 1 to n
    expected_sum = n * (n + 1) // 2

    # Calculate the sum of the elements in the array
    actual_sum = sum(arr)

    # The difference between the expected sum and the actual sum is the missing number
    missing_num = expected_sum - actual_sum

    return missing_num

# Example usage:
result = missing_number([1, 2, 3, 4, 6], 6)
print(result)  # Output: 5

5

In [ ]:
# Write a program to find all pairs of integers whose sum is equal to a given number?

def findPairs(arr,target):
  for i in range(len(arr)):
    for j in range(i+1,len(arr)):
      if arr[i]==arr[j]:
        continue
      elif arr[i]+arr[j]==target:
        print(i,j)
findPairs([1,2,3,2,4,3,6],6)

1 4
3 4

In [ ]:
# finding a number in an array
import numpy as np

def findNumber(array,number):
  for i in range(len(array)):
    if array[i]==number:
      print("found ar index position: ",i)
findNumber([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],20)

found ar index position:  19

In [ ]:
# Max Product of Two Integers
# Find the maximum product of two integers in an array where all elements are positive.
# Example
# arr = [1, 7, 3, 4, 9, 5]
# max_product(arr) # Output: 63 (9*7)

def max_product(arr):
    # Initialize two variables to store the two largest numbers
    max1, max2 = 0, 0  # O(1), constant time initialization

    # Iterate through the array
    for num in arr:  # O(n), where n is the length of the array
        # If the current number is greater than max1, update max1 and max2
        if num > max1:  # O(1), constant time comparison
            max2 = max1  # O(1), constant time assignment
            max1 = num  # O(1), constant time assignment
        # If the current number is greater than max2 but not max1, update max2
        elif num > max2:  # O(1), constant time comparison
            max2 = num  # O(1), constant time assignment

    # Return the product of the two largest numbers
    return max1 * max2  # O(1), constant time multiplication

arr = [1, 7, 3, 4, 9, 5]
print(max_product(arr))  # Output: 63 (9*7)

63

In [ ]:
# Middle Function
# Write a function called middle that takes a list and returns a new list that contains all but the first and last elements.

# myList = [1, 2, 3, 4]
# middle(myList)  # [2,3]

def middle(lst):
    # Return a new list containing all elements from the original list, excluding the first and last elements
    return lst[1:-1]

myList = [1, 2, 3, 4]

print(middle(myList))

[2, 3]

In [ ]:
# 2D Lists
# Given 2D list calculate the sum of diagonal elements.
# Example
# myList2D= [[1,2,3],[4,5,6],[7,8,9]]
# diagonal_sum(myList2D) # 15

def diagonal_sum(matrix):
    d_sum = 0
    for i in range(len(matrix)):
        d_sum +=matrix[i][i]
    return d_sum
diagonal_sum([[1,2,3],[4,5,6],[7,8,9]])

15

In [ ]:
# Best Score
# Given a list, write a function to get first, second best scores from the list.

# List may contain duplicates.

# Example

# myList = [84,85,86,87,85,90,85,83,23,45,84,1,2,0]
# first_second(myList) # 90 87

def first_second(my_list):
    max1, max2 = float('-inf'), float('-inf')

    for num in my_list:
        if num > max1:
            max2 = max1
            max1 = num
        elif num > max2 and num != max1:
            max2 = num

    return max1, max2

my_list = [84, 85, 86, 87, 85, 90, 85, 83, 23, 45, 84, 1, 2, 0]
print(first_second(my_list))  # Output: (90, 87)

(90, 87)

In [ ]:
# Duplicate Number
# Write a function to remove the duplicate numbers on given integer array/list.

# Example

# remove_duplicates([1, 1, 2, 2, 3, 4, 5])
# Output : [1, 2, 3, 4, 5]

def remove_duplicates(lst):
    unique_lst = []
    seen = set()
    for item in lst:
        if item not in seen:
            unique_lst.append(item)
            seen.add(item)
    return unique_lst

my_list = [1, 1, 2, 2, 3, 4, 5]
print(remove_duplicates(my_list))  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
# Pairs
# Write a function to find all pairs of an integer array whose sum is equal to a given number. Do not consider commutative pairs.

# Example

# pair_sum([2, 4, 3, 5, 6, -2, 4, 7, 8, 9],7)
# Output : ['2+5', '4+3', '3+4', '-2+9']


# Note:

# 4+3 comes from second and third elements from the main list.

# 3+4 comes from third and seventh elements from the main list.

def pair_sum(arr, target_sum):
    result = []
    for i in range(len(arr)):
        for j in range(i+1, len(arr)):
            if arr[i] + arr[j] == target_sum:
                result.append(f"{arr[i]}+{arr[j]}")
    return result

arr = [2, 4, 3, 5, 6, -2, 4, 7, 8, 9]
target_sum = 7
print(pair_sum(arr, target_sum))  # Output: ['2+5', '4+3', '3+4', '-2+9']

['2+5', '4+3', '3+4', '-2+9']

In [ ]:
# Contains Duplicate
# Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

# Example :

# Input: nums = [1,2,3,1]
# Output: true
# Hint: Use sets

def contains_duplicate(nums):
    seen = set()
    for num in nums:
        if num in seen:
            return True
        seen.add(num)
    return False

# Example usage
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 1]
print(contains_duplicate(nums))  # Output: True

True

In [2]:
def permutation(list1, list2):
  if len(list1) != len(list2):
    return False
  list1.sort()
  list2.sort()
  if list1==list2:
    return True
  else:
    return False
# list1 = [1,2,3]
# list2 = [1,3,2]
list1 = ["c","a","b"]
list2 = ["a","c","b"]
permutation(list1,list2)

True

In [29]:
# Rotate Matrix/ Image - LeetCode 48
# You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

# You have to rotate the image in-place, which means you have to modify the input 2D matrix directly.

# DO NOT allocate another 2D matrix and do the rotation.

# Example:


# Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]
# Output: [[7,4,1],[8,5,2],[9,6,3]]

def rotate(matrix):
    n = len(matrix)

    # Transpose the matrix
    for i in range(n):  # Iterate over the rows
        for j in range(i, n):  # Iterate over the columns starting from the current row 'i'
            # Swap the elements at positions (i, j) and (j, i)
            matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]

    # Reverse each row
    for row in matrix:  # Iterate over each row in the matrix
        row.reverse()  # Reverse the elements in the current row
    print(matrix)
rotate([[1,2,3],[4,5,6],[7,8,9]])

[[7, 4, 1], [8, 5, 2], [9, 6, 3]]

In [30]:
# What is the runtime of the below code?
def foo(array):
  sum = 0   #---------------------O(1)
  product = 1  #---------------------O(1)

  for i in array:  #---------------------O(n)
    sum += i       #---------------------O(1)

  for i in array:   #---------------------O(n)
    product *= i    #---------------------O(1)
  print("Sum = "+str(sum)+", product = "+str(product)) #---------------------O(1)

  # Time Complexity ----- O(N)

In [31]:
def printPairs(array):
  for i in array:   #--------------O(n^2)
    for j in array: #--------------O(n)
      print(str(i)+","+str(j)) #--------------O(1)
  # Time Complexity -- O(n^2)

In [32]:
# print unordered pairs
def printUnorderedPairs(array):
  for i in range(0,len(array)):
    for j in range(i+1,len(array)):
      print(array[i],",",array[j])

# Method 1:
# 1st----------------- n-1
# 2nd----------------- n-2
# ------------------------
# ------------------------
#           1
#  = (n-1)+(n-2)+(n-3)+-------+2+1
#  = 1+2+3+-------+(n-3)+(n-2)+(n-1)

#  = n(n-1)/2

#  = n^2/2-n/2

#  = n^2
# Time Complexity O(n^2)

#

# Method 2:
# Outer Loop --- N times
# Inner Loop --- ?
# 1st--------------10
# 2nd--------------9
# ---------------
# -----------------
#        1

# 5-----------> 10/2
# n-----------> n/2
# -----------------
# -----------------
#        1

# n(n/2) = n^2/2 -------- O(n^2)

In [33]:
def printUnorderedPairs(arrayA,arrayB):
  for i in range(len(arrayA)):
    for j in range(len(arrayB)):
      if arrayA[i] < arrayB[j]:
        print(str(arrayA[i])+","+str(arrayB[j]))

# here b = len(arrayB)
# here a = len(arrayA)
# Time Complexity : O(ab)

In [35]:
def printUnorderedPairs(arrayA,arrayB):
  for i in range(len(arrayA)):     #----------------O(a)
    for j in range(len(arrayB)):   #----------------O(b)
      for k in range(0,100000):    #----------------O(1)
        print(str(arrayA[i])+","+str(arrayB[j]))  #----------------O(1)
# Time Complexity: O(ab)

In [39]:
def reverse(array):
  for i in range(0,int(len(array)/2)):   #-------------O(N/2)-----O(N)
    other = len(array)-i-1               #-------------O(1)
    temp = array[i]                      #-------------O(1)
    array[i] = array[other]              #-------------O(1)
    array[other] = temp                  #-------------O(1)
print([7, 4, 1,8, 5, 2,9, 6, 3])
# Time Complexity-----O(N)

[7, 4, 1, 8, 5, 2, 9, 6, 3]

In [ ]:
# O(N+P), Where P<N/2 #---------------->O(N)
# O(2N) --------------------> O(N)
# O(N + log N)  -------------> O(N)
# O(N + NlogN)  -------------> O(NlogN)
# O(N+M)