<a href="https://colab.research.google.com/github/viratbhoomi/DSA/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# tuple is an immutable sequence of python objects.
# Tuples are also comparable and hashable

tuple_multiple_elements = ('a','b','c','d','e')
print(tuple_multiple_elements)
print()
single_element_tuple = ('a',)
print(single_element_tuple)
print()

empty_tuple = tuple()
print(empty_tuple)

# time complexity for creating atuple is O(1)
# space complexity is O(n)

('a', 'b', 'c', 'd', 'e')

('a',)

()

In [24]:
# tuples in memory / accessig an element from the tuple
# the elements of the tuple is located in the memory is contiguously.
# if we access one of the element from the tuple, the process is extremely optimized. Because the computer already knows where the value is located.

# access the elements of tuple.
t = ('a','b','c','d','e','f')
print(t[1])
print(t[2])
print(t[-1])
print(t[-2])

# accessing the tuple elements by using slicing.
print(t[0:1])
print(t[0:2])
print(t[:3])
print(t[:-3:-1])

b
c
f
e
('a',)
('a', 'b')
('a', 'b', 'c')
('f', 'e')

In [28]:
# traversing the tuple
t = ('a','b','c','d','e','f')
for i in range(len(t)):
  print(t[i])

# TC and SC is O(N) & O(1)

a
b
c
d
e
f

In [36]:
# searching for an element in tuple
t = ('a','b','c','d','e','f')
print('a' in t)  #----------->O(N) Here the elements check one by one

print(t.index('c'))  #----------->O(N) Here the elements check one by one

def searchTuple(p_tuple,element):
  for i in range(len(p_tuple)):  #-----O(N)
    if p_tuple[i]==element:   #-----O(1)
      return f"The element {element} is found at {i} index"  #-----O(1)
  return "The element is not found." #-----O(1)

print(searchTuple(('a','b','c','d','e','f'),'d'))

# TC & SC is O(N)&O(1)

True
2
The element d is found at 3 index

In [53]:
# tuple operations and methods
t1 = (1,4,3,2,1,5)
t2 = (1,2,6,9,8,7)

# concatinate two tuples
print(t1 + t2)

# repeat each element 3 times
print(t1 * 3)

# checking the element in the tuple is exist or not
print(4 in t1)

# counting the no of elements in the tuple.
print(t1.count(1))

# finding the index no of the element.
print(t1.index(1))

# finding the length of tuple
print(len(t1))

# finding the max element from the tuple
print(max(t1))

# finding the min element from the tuple
print(min(t1))

# tuple method can convert a list to tuple
print(tuple([1,2,3,4,5,6,7,8,9]))

(1, 4, 3, 2, 1, 5, 1, 2, 6, 9, 8, 7)
(1, 4, 3, 2, 1, 5, 1, 4, 3, 2, 1, 5, 1, 4, 3, 2, 1, 5)
True
2
0
6
5
1
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [60]:
# we generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
# Iterating through a tuple is faster than with list.
# tuples that contain immutable elements can be used as a key for a dictionary.
# If you have data that doesn't change, implementing it as a tuple will guarantee that it remains write-protected.

# creating a tuple             O(1)  O(N)
# Traversing a given tuple     O(N)  O(1)
# Accessing a  given element   O(1)  O(1)
# Searching a given element    O(N)  O(1)

In [61]:
# What will be the output of the following code block?

init_tuple = ()
print (init_tuple.__len__())

0

In [62]:
# What will be the output of the following code block?

init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

print(init_tuple_a == init_tuple_b)

True

In [63]:
# What will be the output of the following code block?

init_tuple_a = '1', '2'
init_tuple_b = ('3', '4')

print (init_tuple_a + init_tuple_b)

('1', '2', '3', '4')

In [64]:
# What will be the output of the following code block?

init_tuple_a = 1, 2
init_tuple_b = (3, 4)

[print(sum(x)) for x in [init_tuple_a + init_tuple_b]]

10

[None]

In [66]:
# What will be the output of the following code block?

init_tuple = [(0, 1), (1, 2), (2, 3)]

result = sum(n for _, n in init_tuple)

print(result)

6

In [67]:
# Sum and Product
# Write a function that calculates the sum and product of all elements in a tuple of numbers.

# Example

# input_tuple = (1, 2, 3, 4)
# sum_result, product_result = sum_product(input_tuple)
# print(sum_result, product_result)  # Expected output: 10, 24

def sum_product(t):
    sum_result = 0
    product_result = 1

    for num in t:
        sum_result += num
        product_result *= num

    return sum_result, product_result

input_tuple = (1, 2, 3, 4)
sum_result, product_result = sum_product(input_tuple)
print(sum_result, product_result)  # Expected output: 10, 24

10 24

In [68]:
# Elementwise Sum
# Create a function that takes two tuples and returns a tuple containing the element-wise sum of the input tuples.

# Example

# tuple1 = (1, 2, 3)
# tuple2 = (4, 5, 6)
# output_tuple = tuple_elementwise_sum(tuple1, tuple2)
# print(output_tuple)  # Expected output: (5, 7, 9)

def tuple_elementwise_sum(t1, t2):
    if len(t1) != len(t2):
        raise ValueError("Input tuples must have the same length.")

    result = tuple(a + b for a, b in zip(t1, t2))
    return result

In [69]:
# Insert at the Beginning
# Write a function that takes a tuple and a value, and returns a new tuple with the value inserted at the beginning of the original tuple.

# Example

# input_tuple = (2, 3, 4)
# value_to_insert = 1
# output_tuple = insert_value_front(input_tuple, value_to_insert)
# print(output_tuple)  # Expected output: (1, 2, 3, 4)

def insert_value_front(input_tuple, value_to_insert):
    return (value_to_insert,) + input_tuple

# Example usage:
input_tuple = (2, 3, 4)
value_to_insert = 1
output_tuple = insert_value_front(input_tuple, value_to_insert)
print(output_tuple)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [70]:
# Concatenate
# Write a function that takes a tuple of strings and concatenates them, separating each string with a space.

# Example

# input_tuple = ('Hello', 'World', 'from', 'Python')
# output_string = concatenate_strings(input_tuple)
# print(output_string)  # Expected output: 'Hello World from Python'

def concatenate_strings(input_tuple):
    return ' '.join(input_tuple)

In [71]:
# Diagonal
# Create a function that takes a tuple of tuples and returns a tuple containing the diagonal elements of the input.

# Example

# input_tuple = (
#     (1, 2, 3),
#     (4, 5, 6),
#     (7, 8, 9)
# )
# output_tuple = get_diagonal(input_tuple)
# print(output_tuple)  # Expected output: (1, 5, 9)

def get_diagonal(input_tuple):
    return tuple(input_tuple[i][i] for i in range(len(input_tuple)))

In [72]:
# Common Elements
# Write a function that takes two tuples and returns a tuple containing the common elements of the input tuples.

# Example

# tuple1 = (1, 2, 3, 4, 5)
# tuple2 = (4, 5, 6, 7, 8)
# output_tuple = common_elements(tuple1, tuple2)
# print(output_tuple)  # Expected output: (4, 5)


def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))